body {
    padding: 0;
    margin: 0;
}

svg:not(:root) {
    display: block;
}

.playable-code {
    background-color: #f4f7f8;
    border: none;
    border-left: 6px solid #558abb;
    border-width: medium medium medium 6px;
    color: #4d4e53;
    height: 100px;
    width: 90%;
    padding: 10px 10px 0;
}

.playable-canvas {
    border: 1px solid #4d4e53;
    border-radius: 2px;
}

.playable-buttons {
    text-align: right;
    width: 90%;
    padding: 5px 10px 5px 26px;
}

.garden {
    position: relative;
    width: 90vw;
    height: 90vw;
  /*   width : 200px; */
  /*   height: 200px; */
    border: 5px solid #CCC;
    border-radius: 10px;
}

.ball {
    position: absolute;
    top   : 42.5vw;
    left  : 42.5vw;
    width : 5vw;
    height: 5vw;
  /*   top   : 90px; */
  /*   left  : 90px; */
  /*   width : 20px; */
  /*   height: 20px; */
    background: green;
    border-radius: 100%;
}

.output {
    font-size:20px;
}


.sensorList {
    position: relative;
    width: 90vw;
    height: 20vw;
  /*   width : 200px; */
  /*   height: 200px; */
    border: 5px solid #333;
    border-radius: 10px;
}